<ul class="Edned Task">
<% Tasks.forEach(details => { %>
<li class="edned-list-item">
<div class="edneed-list-item-name"><%= details.content %></div>
<a href="/edit/<%= details._id %>" class="edit">
<span class="fas fa-edit"></span>
</a>
<a href="/remove/<%= details._id %>" class="remove">
<span class="fas fa-times"></span>
</a>
</li>
<% }) %>
</ul>
